@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "flaticon";
  src: url("../assets/fonts/flaticon.ttf") format("ttf"), url("../assets/fonts/flaticon.woff") format("woff");
}
@font-face {
  font-family: "flaticon-digital";
  src: url("../assets/fonts/flaticon-digital.ttf") format("ttf"), url("../assets/fonts/flaticon-digital.woff2") format("woff2");
}
@font-face {
  font-family: "linearicons";
  src: url("../assets/fonts/linearicons-free.ttf") format("ttf"), url("../assets/fonts/linearicons-free.woff") format("woff");
}
@font-face {
  font-family: "flaticon-agency";
  src: url("../assets/fonts/flaticon-agency.ttf") format("ttf"), url("../assets/fonts/flaticon-agency.woff2") format("woff2");
}
@font-face {
  font-family: "fa-solid";
  src: url("../assets/fonts/fa-solid-900.ttf") format("ttf"), url("../assets/fonts/fa-solid-900.woff2") format("woff2");
}
@font-face {
  font-family: "fa-brand";
  src: url("../assets/fonts/fa-brands-400.ttf") format("ttf"), url("../assets/fonts/fa-brands-400.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

a,
a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: #222529;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Condensed", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.h4 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3.16rem;
}

.h5 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.container {
  max-width: 126.4rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.btn,
.btn:link,
.btn:visited,
.btn-light,
.btn-light:link,
.btn-light:visited {
  position: relative;
  padding: 1.6rem 3.8rem;
  z-index: 10;
  font-family: "Barlow", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.btn::before, .btn::after,
.btn:link::before,
.btn:link::after,
.btn:visited::before,
.btn:visited::after,
.btn-light::before,
.btn-light::after,
.btn-light:link::before,
.btn-light:link::after,
.btn-light:visited::before,
.btn-light:visited::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background: #e9a233;
}
.btn::after,
.btn:link::after,
.btn:visited::after,
.btn-light::after,
.btn-light:link::after,
.btn-light:visited::after {
  width: 0;
  transition: all 0.2s;
}
.btn:hover::after,
.btn:link:hover::after,
.btn:visited:hover::after,
.btn-light:hover::after,
.btn-light:link:hover::after,
.btn-light:visited:hover::after {
  width: 100%;
  background: #000;
}

.btn-light,
.btn-light:link,
.btn-light:visited {
  color: #000;
}
.btn-light:hover,
.btn-light:link:hover,
.btn-light:visited:hover {
  color: #fff;
}
.btn-light::before,
.btn-light:link::before,
.btn-light:visited::before {
  background: #fff;
}

.sub-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1.8px;
  color: #e9a233;
  text-transform: uppercase;
}

.section-title {
  margin-bottom: 1.2rem;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  letter-spacing: 0.096px;
  color: #171717;
  text-transform: uppercase;
}

.flip {
  transition: all 0.3s;
}
.flip:hover {
  transform: rotateY(180deg);
  background: #fff;
  color: #e9a233;
}

.item-content {
  position: relative;
}
.item-content::after, .item-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo-container {
  width: 40rem;
  height: 100%;
  padding: 2rem 5rem;
  background: #000;
}
.header .logo-container a {
  height: 100%;
  display: block;
}
.header .logo-container a .logo {
  display: block;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .navbar {
  flex: 1;
  margin-left: 14rem;
  margin-right: auto;
}
.header .navbar ul {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.header .navbar ul .nav-link {
  height: 100%;
  font-weight: 600;
}
.header .navbar ul .nav-link a {
  color: #717070;
}
.header .navbar ul .nav-link:hover a {
  color: #000;
}
.header .header-action {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 5rem;
}
.header .header-action .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background-color: #e9a233;
  font-size: 2rem;
  border-radius: 50%;
  color: white;
  font-family: "fa-solid";
  transition: all 0.3s;
}
.header .header-action .icon:hover {
  transform: rotate(360deg);
}
.header .header-action .phone::before {
  content: "\f095";
}
.header .header-action p {
  font-size: 1.4rem;
}

.hero {
  position: relative;
  background: #171717;
  background-image: url("../assets/images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .bg-img1,
.hero .bg-img2 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .bg-img2 {
  height: 100%;
  opacity: 0.4;
}
.hero .hero-content {
  width: 80%;
  padding: 25rem 0;
  color: #fff;
}
.hero .hero-content .title {
  font-size: 10rem;
  line-height: 9rem;
  margin-bottom: 3rem;
}
.hero .hero-content p {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.hero .hero-content .btn-group {
  display: flex;
  gap: 2rem;
}

.about {
  margin-bottom: 12rem;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-end;
  gap: 8rem;
  margin-bottom: 10rem;
}

.agency {
  position: relative;
  padding: 4.5rem;
}
.agency .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.agency .agency-list li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  border-bottom: 1px solid rgba(92, 92, 92, 0.459);
}
.agency .agency-list li .icon {
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: "flaticon-digital";
  font-size: 3.6rem;
  background: #e9a233;
  color: #fff;
  transition: all 0.3s;
}
.agency .agency-list li .flaticon-digital-team::before {
  content: "\f110";
}
.agency .agency-list li .flaticon-digital-customer-support::before {
  content: "\f111";
}
.agency .agency-list li .flaticon-digital-rocket::before {
  content: "\f105";
}
.agency .agency-list li .h5 {
  color: #fff;
}
.agency .agency-list li:last-of-type {
  border: none;
}
.agency .agency-list li:hover .icon {
  transform: rotateY(180deg);
  background: #fff;
  color: #e9a233;
}

.about-text-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
}
.about-text-box img {
  aspect-ratio: 1/1;
}
.about-text-box .desc {
  line-height: 30.4px;
  font-weight: 500;
  margin-bottom: 3rem;
  color: #717070;
}
.about-text-box .user {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}
.about-text-box .user img {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  border: 2px solid #e9a233;
}
.about-text-box .user h5 {
  font-size: 2rem;
}
.about-text-box .user p {
  color: #717070;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.about-cards .card {
  position: relative;
}
.about-cards .card .card-img {
  margin-bottom: 5rem;
  overflow: hidden;
}
.about-cards .card .card-img img {
  transition: all 0.2s;
}
.about-cards .card .item-content::after {
  transition: all 0.2s;
  opacity: 0;
  background-image: linear-gradient(45deg, #e9a233, transparent, transparent);
}
.about-cards .card .icon-box {
  position: absolute;
  bottom: 7rem;
}
.about-cards .card .icon-box .icon {
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "flaticon-digital";
  font-size: 4rem;
  transition: all 0.2s;
  background-color: #000;
  color: #fff;
}
.about-cards .card .icon-box .flaticon-digital-design::before {
  content: "\f112";
}
.about-cards .card .icon-box .flaticon-digital-research::before {
  content: "\f113";
}
.about-cards .card .icon-box .flaticon-digital-sharing::before {
  content: "\f114";
}
.about-cards .card .title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  padding: 2rem 2.5rem;
  background: white;
  z-index: 1;
  box-shadow: 0 -5px 0 0px #000, 0 10px 60px rgba(0, 0, 0, 0.15);
}
.about-cards .card .title-box .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "linearicons";
  font-size: 2.4rem;
  color: #e9a233;
  transform: rotate(-45deg);
}
.about-cards .card .title-box .arrow::before {
  content: "\e87a";
}
.about-cards .card:hover .item-content::after {
  opacity: 1;
}
.about-cards .card:hover .card-img img {
  transform: scale(1.1);
}
.about-cards .card:hover .icon {
  color: #e9a233;
}

.our-services {
  position: relative;
  background: #171717;
  background-image: url("../assets/images/bg-pattern1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.our-services .explore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 4rem;
}
.our-services .explore .section-title {
  color: #fff;
  text-transform: none;
}
.our-services .our-services-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 12rem 0;
}
.our-services .our-services-content .section-title {
  color: white;
}
.our-services .our-services-content .first-item {
  grid-column: 1/span 2;
  padding: 0;
}
.our-services .our-services-content .item {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  padding: 4rem 3rem;
  background: #171717;
}
.our-services .our-services-content .item::before, .our-services .our-services-content .item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 3rem;
  top: 0;
  left: 3rem;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
}
.our-services .our-services-content .item::after {
  height: 0;
  transition: all 0.2s;
  background: #e9a233;
}
.our-services .our-services-content .item h5 {
  color: white;
}
.our-services .our-services-content .item .icon {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "flaticon-digital";
  font-size: 5rem;
  color: #e9a233;
}
.our-services .our-services-content .item .flaticon-digital-digital-services::before {
  content: "\f101";
}
.our-services .our-services-content .item .flaticon-digital-graphic-design::before {
  content: "\f102";
}
.our-services .our-services-content .item .flaticon-digital-technology::before {
  content: "\f103";
}
.our-services .our-services-content .item .flaticon-digital-mobile-app::before {
  content: "\f104";
}
.our-services .our-services-content .item .flaticon-digital-content-creator::before {
  content: "\f115";
}
.our-services .our-services-content .item .flaticon-digital-ux-design::before {
  content: "\f115";
}
.our-services .our-services-content .item:hover::after {
  height: 3rem;
}
.our-services .item-content {
  z-index: 5;
  background: #000;
}
.our-services .item-content::after {
  background-image: url("../assets/images/news-bg03-672x448.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.our-feedback {
  padding: 12rem 0;
  background: #171717;
  background-image: url("../assets/images/white-pattern-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.our-feedback-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.our-feedback-cards .first-item .desc {
  font-weight: 500;
  line-height: 3.04rem;
}
.our-feedback-cards .item {
  position: relative;
  padding: 0 4rem 3.5rem;
  z-index: 5;
  background-image: linear-gradient(45deg, #e9a233, #fff, #fff);
}
.our-feedback-cards .item .img-box {
  width: 6rem;
  height: 6rem;
  box-shadow: 0px 0px 0px 5px #fff, 0px 0px 0px 7px #e9a233;
  border-radius: 50%;
  overflow: hidden;
  transform: translateY(-50%);
}
.our-feedback-cards .item .img-box img {
  -o-object-fit: cover;
     object-fit: cover;
}
.our-feedback-cards .item .icon {
  display: block;
  font-family: "fa-solid";
  font-size: 1.6rem;
  color: #e9a233;
  padding: 2rem 0;
}
.our-feedback-cards .item .flaticon-digital-digital-services::before {
  content: "\f005\f005\f005\f005\f005";
}
.our-feedback-cards .item .desc {
  font-weight: 500;
  line-height: 3.04rem;
}
.our-feedback-cards .item-content::before {
  width: 0;
  top: 100%;
  transition: all 0.3s;
  border-top: 3rem solid #e9a233;
  border-left: 8rem solid transparent;
}
.our-feedback-cards .item-content::after {
  transition: all 0.3s;
  z-index: -1;
  background-image: linear-gradient(45deg, #e9a233, #000, #000);
  opacity: 0;
}
.our-feedback-cards .item-content:hover {
  color: white;
}
.our-feedback-cards .item-content:hover::after {
  opacity: 1;
}

.work-showcase {
  padding: 12rem 0;
}
.work-showcase .work-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.work-container {
  max-width: 156.4rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.work-slider {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.work-slider a {
  display: block;
}
.work-slider .slider-item {
  position: relative;
  overflow: hidden;
}
.work-slider .slider-item .slider-img {
  transition: all 0.3s;
  filter: brightness(0.7);
}
.work-slider .slider-item .icon {
  position: absolute;
  top: -8rem;
  right: 2rem;
  transition: all 0.3s;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "fa-solid";
  font-size: 2.6rem;
  padding: 2rem 0;
  background-color: white;
  color: #e9a233;
}
.work-slider .slider-item .arrow::before {
  content: "\f30b";
}
.work-slider .slider-item .text-box,
.work-slider .slider-item .text-box-hover {
  padding: 2rem 2rem;
  position: absolute;
  width: 100;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  visibility: visible;
  color: #fff;
}
.work-slider .slider-item .text-box-hover {
  transition: all 0.3s;
  transform: translateY(10rem);
  background: #e9a233;
}
.work-slider .slider-item:hover .slider-img {
  transform: scale(1.1);
  filter: brightness(1);
}
.work-slider .slider-item:hover .text-box-hover {
  transform: translateY(0);
}
.work-slider .slider-item:hover .icon {
  top: 2rem;
}

.why-us .why-us-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-us-content {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 6rem;
  padding-bottom: 12rem;
  border-bottom: 0.5px solid rgb(207, 207, 207);
}
.why-us-content .desc {
  line-height: 30.4px;
  font-weight: 500;
  margin-bottom: 3rem;
  color: #717070;
}
.why-us-content .why-us-left .features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 5rem;
  margin-bottom: 5rem;
}
.why-us-content .why-us-left .features .features-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.why-us-content .why-us-left .features .features-box .icon {
  position: relative;
  width: 5.4rem;
  height: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: "flaticon-digital";
  font-size: 5rem;
  background: #000;
  color: #e9a233;
  transition: all 0.3s;
}
.why-us-content .why-us-left .features .features-box .flaticon-digital-development::before {
  position: absolute;
  left: -2.6rem;
  transition: all 0.3s;
  content: "\f11a";
}
.why-us-content .why-us-left .features .features-box .flaticon-digital-social-media::before {
  position: absolute;
  left: -3rem;
  transition: all 0.3s;
  content: "\f11b";
}
.why-us-content .why-us-left .features .features-box:hover .icon::before {
  transform: rotateY(180deg);
}
.why-us-content .why-us-right {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.why-us-content .why-us-right .img-box {
  width: 100%;
  height: 100%;
}
.why-us-content .why-us-right .h5 {
  margin-bottom: 2rem;
}
.why-us-content .why-us-right .divider {
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: 2rem;
  background-color: #e9a233;
}
.why-us-content .why-us-right .area {
  padding: 2rem 4.5rem;
  background: #e9a233;
  transform: translateX(-15rem);
  margin-bottom: 2rem;
}
.why-us-content .why-us-right .area .h5 {
  color: #fff;
  margin-bottom: 0;
}
.why-us-content .why-us-right .area .icon {
  display: block;
  font-family: "flaticon-digital";
  font-size: 5rem;
  color: #fff;
  margin-bottom: 2rem;
}
.why-us-content .why-us-right .area .flaticon-digital-marketing::before {
  content: "\f11c";
}

.why-us-brands {
  display: flex;
  gap: 3rem;
  margin: 6rem 0;
  height: 11rem;
}
.why-us-brands .img-box {
  padding: 1.4rem 2rem;
  opacity: 0.5;
  filter: saturate(0);
  transition: all 0.3s;
}
.why-us-brands .img-box img {
  -o-object-fit: contain;
     object-fit: contain;
}
.why-us-brands .img-box:hover {
  opacity: 1;
  filter: saturate(1);
  background-color: rgb(238, 238, 238);
}

.we-help {
  position: relative;
  background: #000;
}
.we-help .img-box {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 10;
  top: 0;
  right: 0;
  height: 100%;
  padding-right: 30rem;
  background-image: url("../assets/images/testimonial-bg1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.we-help .img-box .img-box-content {
  background: #e9a233;
  position: relative;
  padding: 5rem;
}
.we-help .img-box .img-box-content .progress {
  position: relative;
}
.we-help .img-box .img-box-content .progress .per {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 500;
  color: white;
}
.we-help .img-box .img-box-content .progress canvas {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(closest-side, #e9a233 90%, transparent 10% 100%), conic-gradient(#fff 85%, rgba(253, 207, 121, 0.548) 0);
}
.we-help .img-box .img-box-content .h5 {
  text-align: center;
  color: #fff;
}

.we-help-content {
  width: 50%;
  padding: 10rem 0;
}
.we-help-content .section-title {
  color: #fff;
  margin-bottom: 3rem;
}
.we-help-content .desc {
  line-height: 30.4px;
  font-weight: 500;
  margin-bottom: 4rem;
  color: rgb(196, 196, 196);
}
.we-help-content .features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  color: #fff;
}
.we-help-content .features div {
  display: grid;
  grid-template-columns: 7rem 1fr;
  align-items: center;
  gap: 3rem;
}
.we-help-content .features div span {
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e9a233;
  font-size: 2rem;
  border-radius: 50%;
  transition: all 0.3s;
}
.we-help-content .features:hover span {
  transform: rotate(360deg);
  color: #e9a233;
}

.blog-showcase {
  padding-top: 14rem;
  padding-bottom: 10rem;
  background-image: url("../assets/images/clients-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blog-showcase .blog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.blog-cards .card {
  position: relative;
  padding: 2rem;
  padding-top: 20rem;
  z-index: 5;
}
.blog-cards .card .card-bg {
  position: absolute;
  width: 100%;
  height: 25rem;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.blog-cards .card .card-bg img {
  transition: all 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-cards .card .card-bg::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.329);
  z-index: 1;
  transition: all 0.5s;
  opacity: 1;
}
.blog-cards .card .card-content {
  z-index: 2;
  background: #fff;
  padding: 0 1rem 2rem;
  border-top: 3px solid #e9a233;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.15);
}
.blog-cards .card .card-content .img-box {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  transform: translateY(-50%);
}
.blog-cards .card .card-content .img-box img {
  border-radius: 50%;
}
.blog-cards .card .card-content .h4 {
  text-align: center;
  padding: 1rem 3rem;
}
.blog-cards .card .card-content p {
  text-align: center;
  padding: 3rem;
}
.blog-cards .card .card-content .card-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  gap: 3rem;
  background-color: rgb(212, 212, 212);
  color: gray;
  padding: 1rem 2rem;
  transition: all 0.3s;
}
.blog-cards .card .card-content .card-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "linearicons";
  font-size: 2rem;
}
.blog-cards .card .card-content .card-btn .arrow::before {
  content: "\e87a";
}
.blog-cards .card .card-content .card-btn:hover {
  background: #e9a233;
  color: #fff;
}
.blog-cards .card:hover .card-bg img {
  transform: scale(1.1);
}
.blog-cards .card:hover .card-bg::after {
  width: 100%;
  opacity: 0;
}

.get-in-touch {
  padding: 12rem 0;
}
.get-in-touch .get-in-touch-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}
.get-in-touch .get-in-touch-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.get-in-touch .get-in-touch-left .social {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}
.get-in-touch .get-in-touch-left .social .icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "fa-brand";
  font-size: 2.4rem;
  border-radius: 50%;
  color: #fff;
  transition: all 0.2s;
  background: #e9a233;
  margin-bottom: 2rem;
}
.get-in-touch .get-in-touch-left .social .icon:hover {
  background: #000;
}
.get-in-touch .get-in-touch-left .social .twitter::before {
  content: "\f099";
}
.get-in-touch .get-in-touch-left .social .youtube::before {
  content: "\f167";
}
.get-in-touch .get-in-touch-left .social .instagram::before {
  content: "\f16d";
}
.get-in-touch .get-in-touch-left .social .pinterest::before {
  content: "\f0d2";
}
.get-in-touch .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.get-in-touch .form .input {
  border: none;
  outline: none;
  padding: 2.4rem 3rem;
  background: rgb(240, 240, 240);
  border-radius: 5px;
}
.get-in-touch .form .input::-moz-placeholder {
  font-size: 1.6rem;
}
.get-in-touch .form .input::placeholder {
  font-size: 1.6rem;
}
.get-in-touch .form .input:focus {
  box-shadow: 0px 0px 0px 2px #e9a233;
}
.get-in-touch .form .input-full {
  grid-column: 1/-1;
}
.get-in-touch .form .btn {
  justify-self: flex-start;
  border: none;
  outline: none;
  padding: 2.4rem 6rem;
}

.footer {
  background: rgb(17, 17, 17);
  background-image: url("../assets/images/slider-doted.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-top .content {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10rem;
  padding: 5rem 0;
  border-bottom: 0.5px solid rgb(82, 82, 82);
}
.footer-top .content .logo {
  height: 6rem;
}
.footer-top .content .logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-center {
  padding: 11rem 0;
  color: white;
}
.footer-center .content {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.footer-center .content a {
  display: block;
  color: #fff;
  white-space: nowrap;
  margin-bottom: 1rem;
}
.footer-center .content .h4 {
  margin-bottom: 2rem;
}
.footer-center .content .h6 {
  font-size: 1.8rem;
  font-weight: 500;
}
.footer-center .content .social {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}
.footer-center .content .social .icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "fa-brand";
  font-size: 2.4rem;
  border-radius: 50%;
  color: #fff;
  transition: all 0.2s;
  background: #000;
  margin-bottom: 2rem;
}
.footer-center .content .social .icon:hover {
  background: #e9a233;
}
.footer-center .content .social .twitter::before {
  content: "\f099";
}
.footer-center .content .social .youtube::before {
  content: "\f167";
}
.footer-center .content .social .instagram::before {
  content: "\f16d";
}
.footer-center .content .social .pinterest::before {
  content: "\f0d2";
}

.footer-bottom {
  padding: 4rem 0;
  text-align: center;
  color: #fff;
  background-color: #000;
}/*# sourceMappingURL=style.css.map */